@import './mixin'

#login_form
	width: 270px
	margin: 0 auto
	margin-bottom: 50px
	margin-top: 50px
	padding: 20px
	background: white asset-url('img/back_pattern/back_pattern.png')
	box-shadow 0 2px 5px #999 inset
	border-radius 15px

#analytics_options
	margin-bottom 20px