@import './mixin'

body
	font-family: "微软雅黑", monospace, Arial,Helvetica,sans-serif
	margin: 0
	width: 100%
html,section
	height: 100%

a img, img
	border: none
	vertical-align: middle

a,a:hover
	text-decoration: none
.ellipsis
	text-overflow: ellipsis
	white-space: nowrap
	overflow: hidden

.text_center
	text-align: center

.text_right
	text-align: right
.hide
	display: none
.left
	float: left

.right
	float: right

.as_link
	cursor: pointer

.clearfix
	clearfix()
.disable_event
	pointer-events: none
